@font-face {
  font-family: "myFirstFont";
  src: url(./fonts/ITCAvantGardeGothicPro/ITCAvantGardePro-Bold.otf)
    format("truetype");
}
@font-face {
  font-family: "mySecondFont";
  src: url(./fonts/Avenir.ttc) format("truetype");
}
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(./fonts/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

.material-symbols{
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#PageContainer {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
h4 {
  font-family: myFirstFont;
  font-weight: bold;
  font-size: 2.7vw;
  line-height: 130%;
  font-style: normal;
  text-align: left;
  color: #000000;
  position: absolute;
  width: 100%;
  height: 123px;
  left: 11%;
  top: 4%;
}
h6 {
  font-family: mySecondFont;
  font-weight: 400;
  font-size: 1.4vw;
  color: #666666;
  position: absolute;
  width: 80%;
  height: auto;
  left: 11%;
  top: 50%;
  line-height: 160%;
}
.rigthContainer,
.leftContainer {
  width: 50%;
}

.leftImage {
  width: 100%;
  height: 100%;
}
.shopAll {
  position: absolute;
  left: 11%;
  top: 94%;
  font-family: mySecondFont;
  font-style: normal;
  font-weight: 900;
  font-size: 1vw;
  color: black;
}
.cardContainer {
  position: absolute;
  width: 105%;
  height: 100%;
  left: 15%;
  top: 51%;
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  margin-right: 1%;
  width: 8% !important;
  height: 230px;
}
.card > img {
  width: 100%;
}
.cardTitle {
  font-family: mySecondFont;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 160%;
  width: 100%;
  min-height: 20%;
  display: inherit;
}
.texting {
  position: absolute;
  width: 90%;
  height: 45%;
  left: 6%;
  top: 0;
}
.priceBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 100%;
  height: 20px;
}
.priceBox .price {
  font-family: mySecondFont;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1vw;
  line-height: 160%;
}
.colorBox {
  width: 72px;
  height: 12px;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.green,
.purple,
.darkPurple,
.pink {
  width: 9px;
  height: 9px;
  border-radius: 20px;
  border: 1.5px solid #ffffff;
}
.green {
  background: #a6cc99;
}
.pink {
  background: #cb99cc;
}
.purple {
  background: #cc9999;
}
.darkPurple {
  background: #cc9999;
}
.purple:hover,
.darkPurple:hover,
.pink:hover,
.green:hover {
  border: 1px solid #ffffff !important;
}
.active {
  width: 11px;
  height: 11px;
  border-radius: 20px;
  border: 1.5px solid #000000;
}
.slick-track {
  left: 103%;
}
.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 70%;
  transform: translateY(-50%);
  background: transparent;
  padding: 5px;
  color: black;
}
.slick-next {
  right: 12%;
}
.slick-prev {
  left: 15%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.left{display: none;}
@media screen and (max-width: 820px) {
  #PageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
  }
  .leftContainer {
    width: 100%;
    height: unset;
  }
  .rigthContainer {
    width: 100%;
    height: 100%;
    top: 25%;
    position: absolute;
  }
  h6,.material-symbols-outlined {
    display: none!important;
  }
  h4 {
    font-size: 6.5vw;
    line-height: 100%;
    color: #ffffff;
    width: 90%;
    height: auto;
    left: 0%;
    top: 0%;
  }

  .shopAll {
    left: 1%;
    top: 42%;
    font-weight: normal;
    font-size: 12.8px;
    color: white;
  }
  .cardContainer {
    left: 7%;
    top: 25%;
  }
  .card {
    width: 10% !important;
  }
  .cardTitle {
    font-weight: 100;
    font-size: 14.8px;
    line-height: 160%;
    width: 100%;
    min-height: 40%;
  }
  .priceBox {
    flex-direction: column;
    align-items: flex-start;
  }
  .priceBox .price {
    font-size: 14.8px;
  }
  .slick-next,
  .slick-prev {
    display: none;
  }
  #PageContainer {
    overflow-y: scroll;
}
}
@media screen and (max-width: 670px) and (min-width:400px)  {
  .cardTitle {
    font-size: 2.5vw;
  }
  .priceBox .price {
    font-size: 2.5vw;
  }
  h4 {
    line-height: 130%;
   
  }
.cardTitle {
  min-height: 25%;
}
.cardContainer {
  top: 75%;
}
.shopAll {
  top: 120%;
}
}
@media screen and (max-width: 430px) and (min-width:360px)  {
  .shopAll {
    top: 45%;
}
.cardContainer {
  top: 27%;
  left: 4%;
}
.cardTitle {
  min-height: 15%;
}
}
